.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  color: $primary-text-color;
  margin-top: 0;
  margin-bottom: 50px;
  font-style: normal;
  @include fonts(700, 36px, 1.2);
  /*font-weight: 700;
  font-size: 36px;
  line-height: 1.2;*/
  text-align: center;
  letter-spacing: 0.03em;
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-list-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list-item-link {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    .yaCo-icon {
      fill: $accent-color;
    }
    .company-icon {
      fill: $accent-color;
    }
    .company2-icon {
      fill: $accent-color;
    }
    .fosterPeters-icon {
      fill: $accent-color;
    }
    .brand-icon {
      fill: $accent-color;
    }
    .companyTagLine-icon {
      fill: $accent-color;
    }
  }
  &:hover {
    border-color: $accent-color;
  }
}
.yaCo-icon {
  width: 45px;
  height: 50px;
  fill: #afb1b8;
}
.company-icon {
  width: 40px;
  height: 52px;
  fill: #afb1b8;
}
.company2-icon {
  width: 41px;
  height: 43px;
  fill: #afb1b8;
}
.fosterPeters-icon {
  width: 80px;
  height: 43px;
  fill: #afb1b8;
}
.brand-icon {
  width: 59px;
  height: 47px;
  fill: #afb1b8;
}
.companyTagLine-icon {
  width: 89px;
  height: 46px;
  fill: #afb1b8;
}
