.section {
  padding-top: 47px;
  padding-bottom: 47px;
}

.features-list {
  @extend %feature_team_title-text-color;
  display: flex;
}
.feature-list-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.antenna-icon {
  width: 70px;
  height: 70px;
}
.title {
  /*margin-top: 30px;*/
  @extend %feature_team_title-text-color;
  margin-bottom: 10px;
  font-style: normal;
  @include fonts(700, 14px, 1.14);
  /*font-weight: 700;
  font-size: 14px;
  line-height: 1.14;*/
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.titel-item {
  margin-top: 0;
  margin-bottom: 0;
  color: $title-text-color;
  font-style: normal;
  @include fonts(400, 14px, 1.7);
  /*font-weight: 400;
  font-size: 14px;
  line-height: 1.7;*/
  letter-spacing: 0.03em;
}
