.footer-menu {
  color: $primary-bg-color;
  background-color: #2f303a;
  padding-top: 60px;
  display: flex;
  padding-bottom: 60px;
}
.class {
  display: flex;
  justify-content: baseline;
}
.address {
  margin-right: 69px;
}
.logo-footer {
  color: $primary-bg-color;
  display: block;
  margin-bottom: 20px;
  @include fonts(700, 26px, 1.19);
  /*font-weight: 700;
  font-size: 26px;
  line-height: 1.19;*/
  text-decoration: none;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
}
.address-list {
  a {
    @include fonts(400, 14px, 1.7);
    /*font-weight: 400;
     line-height: 1.7;
    font-size: 14px;*/

    display: block;
    font-style: normal;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
}
.address-list-link {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
.call {
  display: block;
  @include fonts(700, 14px, 1.1);
  /*font-weight: 700;
  font-size: 14px;
  line-height: 1.1;*/
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link-list {
  display: flex;
  a {
    color: $primary-bg-color;
  }
}

.address-list {
  a {
    color: $primary-bg-color;
  }
}
.link-list {
  a {
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
.link-list-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.instagram-footer {
  width: 20px;
  height: 20px;
  fill: $primary-bg-color;
}
.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 75%;
  background-size: 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $accent-color;
  }
}
.form-call {
  display: block;
  margin-bottom: 20px;
  margin-left: 94px;
  @include fonts(700, 14px, 1.1);
  /*font-weight: 700;
  font-size: 14px;
  line-height: 1.1;*/
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-input {
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 16px;
  margin-right: 12px;
  margin-left: 94px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  &:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.6);
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
}

.button-secondary {
  width: 200px;
  height: 50px;
  background-image: url(../img/button-secondary.svg);
  background-repeat: no-repeat;
  background-position: 148px 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 62px;
  padding-left: 29px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  &::after {
    content: "";
    width: 24px;
    height: 24px;
    background-size: contain;
  }
}
