.logo {
  color: $primary-text-color;
  text-decoration: none;
  display: block;
  margin-right: 85px;
  font-family: Raleway, sans-serif;
  @include fonts(700, 26px, 1.19);
  letter-spacing: 0.03em;
}
.page-header {
  border: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  .icon-close {
    display: none;
  }
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-burger {
  display: none;
}
.menu-wraper {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  z-index: 100;
  height: 453px;
  background-color: $primary-bg-color;
  padding-top: 60px;
  padding-left: 191px;
  padding-right: 190px;
  /*border: 1px solid #ececec;*/
  display: none;
  &.is-open {
    display: block;
  }
}

.envelope-icon {
  position: absolute;
  top: 265px;
  left: 165px;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $title-text-color;
}
.smartphone-icon {
  position: absolute;
  top: 297px;
  left: 174px;
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: $title-text-color;
}
.site-nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $primary-text-color;
}
.contacts-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $title-text-color;
}
.item:not(:last-child) {
  margin-bottom: 40px;
}
.site-nav {
  margin-bottom: 60px;
}
.contacts-item:not(:last-child) {
  margin-bottom: 16px;
}
.navigation {
  a {
    color: $accent-color;
  }
  &::after {
    content: "";
    display: block;

    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    a {
      color: $primary-text-color;
      @include fonts(500, 14px, 1.14);

      letter-spacing: 0.02em;
    }
  }
  .site-nav {
    display: flex;
    a {
      color: $primary-text-color;
      @include fonts(500, 14px, 1.14);

      letter-spacing: 0.02em;
    }
  }
  .site-nav-link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation {
    a {
      color: $accent-color;
    }
    &::after {
      content: "";
      display: block;

      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .site-nav {
    .item {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
    a {
      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .contacts {
    display: flex;
    margin-left: auto;

    a {
      color: $title-text-color;
      @include fonts(500, 14px, 1.14);

      letter-spacing: 0.02em;
      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
    .contacts-item:not(:last-child) {
      margin-right: 30px;
    }
  }

  .envelope-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: $title-text-color;
  }
  .smartphone-icon {
    width: 10px;
    height: 15px;
    margin-right: 10px;
    fill: $title-text-color;
  }
  .contacts-link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      .envelope-icon {
        fill: $accent-color;
      }
      .smartphone-icon {
        fill: $accent-color;
      }
    }
  }
}
/*.site-nav {
  display: flex;
  a {
    color: $primary-text-color;
    @include fonts(500, 14px, 1.14);

    letter-spacing: 0.02em;
  }
}
.site-nav-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  a {
    color: $accent-color;
  }
  &::after {
    content: "";
    display: block;

    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
  }
}

.site-nav {
  .item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  a {
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
.main-nav {
  display: flex;
  align-items: center;
}
.contacts {
  display: flex;
  margin-left: auto;

  a {
    color: $title-text-color;
    @include fonts(500, 14px, 1.14);

    letter-spacing: 0.02em;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .contacts-item:not(:last-child) {
    margin-right: 30px;
  }
}

.envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $title-text-color;
}
.smartphone-icon {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: $title-text-color;
}
.contacts-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    .envelope-icon {
      fill: $accent-color;
    }
    .smartphone-icon {
      fill: $accent-color;
    }
  }
}
*/
