.section-works {
  padding-top: 47px;
  padding-bottom: 94px;
}
.section-title {
  color: $primary-text-color;
  margin-top: 0;
  margin-bottom: 50px;
  font-style: normal;
  @include fonts(700, 36px, 1.2);
  /*font-weight: 700;
  font-size: 36px;
  line-height: 1.2;*/
  text-align: center;
  letter-spacing: 0.03em;
}
.works-list {
  display: flex;
}

.works-list-items {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}
.works-item {
  text-align: center;
  font-style: normal;
  @include fonts(700, 14px, 1.1);
  /*font-weight: bold;
  font-size: 14px;
  line-height: 1.1;*/
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-bg-color;
}
